<!DOCTYPE html>
<html>
	<head>
		<title>Etsiest</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<ul class="search-results">
			<% items.each do |item| %>

			<% binding.pry %>
				
			<!-- 	<li class="title"> <%= item["title"] %> </li> -->
			<<li class="etsy-item"> <%= item %></li> 
			<% end %>
		</ul>
	</body>
</html>
